p  {
text-align: end;
background-color: royalblue;
}



a {
    background-color: greenyellow;
    text-decoration:none;
}

#h1 {
  font-weight: 200;
}

#h2 {
  font-weight: 400;
}

#h3 {
  font-weight: 600;
}

#h4 {
  font-weight: 800;
}
#one {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#two {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}