/* * {
    color:skyblue;
}

#heading1 {
    color: rgb(72, 255, 0);
}


#heading2 {
    color : brown;
}

#heading3 {
    color: chocolate;
}


.myclass {
    color: magenta;
} */


h1, h2, h3 {
    color: red;
}
#box {
    background-color:blue;

}

button {
    color: green;
}
/* h1 {
    color : maroon;
}

p  {
    color: orange;

}
button {
    color: skyblue;
    background-color: rgb(128, 0, 122);
}
body {
    background-color: #BE97C6;
}

h2 {
    color: rgb(192, 21, 106);
} */